body {
    background-color: #140A14;
}
.page {
    max-width: 1200px;
    padding: 20px;
    color: white;
    background-color: #2C162C;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
    text-align: center;
    font-size: 48px;
    background-color: #3A1D3A;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header img {
    max-width: 50%;
    padding: 10px 0px;
}
img {
    color: #FFFFFF;
    max-width: 100%;
}
.topnav {
    padding: 10px;
    background-color: #3A1D3A;
    color: #FFFFFF;
    overflow: wrap;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.topnav a {
    color: #DBAADD;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover {
    color: #844284;
    font-size: 20px;
    text-decoration: underline;
}
.topnav a:active {
    color: #FFFFFF;
}
.content {
    padding: 10px;
    color: white;
    background-color: #2C162C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 600px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 5%;
  max-width: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}